body {
  margin: 0;
  background: rgb(255, 255, 255);
  color: rgb(39, 39, 39);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

nav.scrolled {
  box-shadow: 0px 5px 28px  rgba(0, 0, 0, 0.111);
  transition: 0.5s;
}

.navbar_container {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 99;
  font-weight: 800;
  height: 85px;
}

.navBar {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 10px;
  z-index: 100;
}

.ul_list {
  font-size: 20px;
  color: black;
  padding: 6px 20px 10px 20px;
  margin-top: 0;
  font-weight: 900;
}
.navbar_list {
  float: right;
}

.navbar_list .ul_list {
  margin: auto;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 30px;

}

.navbar_list .navbar_li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  position: relative;

}

.navbar_list {
  padding-right: 1%;

}

.logo {
  float: left;
  width: 55px;
  height: 55px;
  padding: 1% 1.5% 0 1.5%;
}

.navbar_list a {
  color: rgb(39, 39, 39);
  text-decoration: none;
  font-weight: initial;
  font-size: 20px;
}

.navbar_list a:hover {
  color: #6e90e8;
}

.navbar_list a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(39, 39, 39);
  position: relative;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.navbar_list a:hover::before {
  width: 100%;
}

.h-screen {
  position: relative;
  z-index: 0;
  height: 100vh;
}

.h-screen-container {
  padding-top: 13%;
  margin-left: 18%;
  position: absolute;
}

.h-screen-hi {
  font-size: 32px;
  margin-bottom: 10px;
  color: #6e90e8;
  word-spacing: 0.1em;
}
.h-screen-name {
  font-size: 83px;
  margin: 25px 0px 20px 0px;
  color: rgb(39, 39, 39);
  font-family: 'Heebo' 'sans-serif';
}

.period {
  color: #6e90e8;
  margin-left: -3%;
}

.h-screen-des {
  font-size: 20px;
  margin-top: -2%;
  font-weight: 300;
}
.h-screen-hi .h-screen-name .h-screen-des {
  float: left;

}

.contact-resume-container {
  padding-top: 45px;
}

.contact-button {
  size: 80px;
  color: rgb(39, 39, 39);
  border-style: solid;
  border-color: rgb(39, 39, 39);
  border-radius: 11px;
  border-width: 2px;
  height: 15px;
  width: 118px;
  position: absolute;
  padding: 15px;
  text-decoration: none;

}

.c-text-container {
  margin-left: -5px;
}
.c-text {
  font-size: 16.5px;
  font-weight: 600;
  float: right;
  word-spacing: .05em;
  margin-left: 10px;
}


.resume-button {
  size: 100px;
  border-style: solid;
  background-color: rgb(39, 39, 39);
  border-color: rgb(39, 39, 39);
  border-radius: 9px;
  height: 15px;
  width: 89px;
  padding: 15px;
  position: absolute;
  margin-left: 35%;
}
.resume-button {
  color: white;
}

.r-text {
  float: right;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: .01em;
}

.r-icon {
  margin-left: 2px;
}

.resume-button:hover {
  color: white;
  border-color: #6e90e8;
  background-color: #6e90e8;
}

.contact-button:hover {
    color: #6e90e8;
    border-color: #6e90e8;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

.cory-img {
  max-width: 650px;
  height: 700px;
  float: right;
  margin-top: 14%;
  margin-right: 15%;
  margin-bottom: 90%;
  width: 32%;
}

.about-me {
  height: 80vh;
}

.about-main-container {
  width: 80%;
  padding-top: 17%;
}
.about-background {
  display: contents;
  background-color: rgb(223, 245, 252);
  height: 80vh;
  width: 500px;
}

.about-me-container {
  margin: 2% 0 0 18%;
  position: absolute;
  float: left;
  display: flex;
  height: 80vh;
}

.about-word-content {
  width: 53%;
}

.about-title {
  font-size: 32px;
  word-spacing: 0.1em;
  margin-bottom: 3%;
}

.about-text {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  line-height: 27px;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 1%;
}


.about-title-number {
  color: #6e90e8;
}

.hyphen {
  color: #6e90e8;
  font-size: 24px;
  font-weight: 300;
  padding-left: 2%;
}

.preferences-container {
  float: left;
  width: 70%;
}

.ilike-container {
  float: left;
  width: 40%;
}

.idont-container {
  float: right;
  margin-left: -10%;
  margin-right: 0;
  width: 40%;
}

.ilike-title {
  font-size: 17px;
  padding-top: 8%;
  padding-bottom: 7%;
  font-weight: 700;
  margin: 0;
}

.ilike-text {
  padding-left: 2%;
  letter-spacing: 0.001em;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 17px;
  font-weight: 300;
}

.courses {
  height: 85vh;
  display: flex;
  z-index: 1;
}

.courses-background {
  background-color: #6e91e88d;
  height: 90vh;
}

.courses-container {
  padding-top: 9.5%;
  position: absolute;
  width: 100%;
  margin-left: 0.6%;
}

.davis-img {
  max-width: 400px;
  height: 100px;
  float: left;
  padding: 11.5% 10% 10% 10%;
}

.davis-text-container {
  text-align: center;
}
.courses-davis-container {
  margin: auto;
  width: 80%;
  padding: 10px;
  height: 380px;
  background-color: rgba(232 244 248);
  border-radius: 40px;
}


.davis-innertext-container {
  float: left;
  text-align: initial;
  padding-top: 3%;
  max-width: 540px;
  
}

.davis-innertext-text {
  max-width: 540px;
}

.davis-courses-title {
  font-size: 18px;
  font-weight: bold;
  margin: 2% 0 1.5% 0;
}

.davis-courses-date {
  margin-bottom: 2%;
  font-weight: 400;
}

.davis-inline-border {
  border-color: #82a5ff;
  display: block;
  box-shadow: 0;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  border-style: solid;
  border-width: 1.5px;
  text-decoration: none;
  width: 520px;
  border-radius: 0px;
}

.classes{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  width: 100%;

}

.classes-text {
  line-height: 23.5px;

}
.check-icon {
  color: #82a5ff;
  margin-right: 1.5%;
}
.courses-title {
  font-size: 32px;
  word-spacing: 0.1em;
  margin-left: 17%;
  margin-bottom: 3%;

}

.davis-text-title {
  font-size: 18px;
  font-weight: bold;
}

.courses-title-number {
  color: #6e90e8;
}

.projects {
  height: 87vh;
  display: flex;
  z-index: 1;
  }

.projects-background {
  background-color: #6e91e88d;
  height: 90vh;
}

.projects-container {
  padding-top: 9%;
  position: absolute;
  width: 100%;
  margin-left: 0.6%;
}


.projects-content-container {
  margin: auto;
  width: 84%;
  padding: 0px;
  height: 300px;
  justify-content: center;
  display: flex;
}

.projects-1-container {
  margin: auto;
  width: 30.5%;
  padding: 0px;
  height: 285px;
  border-radius: 12px;
  background-color: #ffffff8d;
  border: 2.4px solid ;
  transition: all ease-in-out 200ms;
  box-shadow: -12px 12px 0px rgb(39, 39, 39);
}

.projects-1-container:hover {
  box-shadow: none;
  transition: all ease-in-out 200ms;
}

.projects-title {
  font-size: 32px;
  word-spacing: 0.1em;
  margin-left: 17%;
  margin-bottom: 3%;

}

/*
.python {
  max-height: 29px;
  width: 29px;
  float: right;
  padding: 7.5% 5.5% 0 0;
}
*/

.github-projects {
  float: right;
  padding: 12% 10% 0 0;
}

.language-1 {
  display: inline-flex;
  font-weight: 400;
  font-size: 16.5px;
  width: 72%;
  word-spacing: 0.08rem;
  line-height: 145%;
  padding: 6% 0 0 8%;
}

.html {
  max-height: 36px;
  width: 40px;
  margin-left: 3.5%;
}

.css {
  max-height: 36px;
  width: 40px;
  margin-left: 1%;
}

.js {
  max-height: 36.8px;
  width: 40px;
  margin-left: -.7%;
}

.python {
  max-height: 28px;
  width: 28px;
  float: right;
  margin-right: 55%;
}

.projects-1-title {
  font-weight: 700;
  font-size: 19px;
  float: left;
  padding: 12% 0 0 8%;
}

.projects-1-text {
  font-weight: 400;
  font-size: 16.5px;
  width: 82%;
  word-spacing: 0.08rem;
  line-height: 145%;
  padding: 24% 0 0 8%;
}

.projects-2-text {
  font-weight: 400;
  font-size: 16.5px;
  width: 81%;
  word-spacing: 0.08rem;
  line-height: 145%;
  padding: 24% 0 0 8%;
}

.projects-3-text {
  font-weight: 400;
  font-size: 16.5px;
  width: 77%;
  word-spacing: 0.08rem;
  line-height: 145%;
  padding: 24% 0 0 8%;
}

.language {
  font-weight: 400;
  font-size: 16.5px;
  width: 72%;
  word-spacing: 0.08rem;
  line-height: 145%;
  padding: 5% 0 0 8%;
}

.language-2 {
  font-weight: 400;
  font-size: 16.5px;
  width: 72%;
  word-spacing: 0.08rem;
  line-height: 145%;
  padding: 12% 0 0 8%;
}

#bottom-nav {
  text-align: center;
  padding: 10px;
  height: 140px;
}

.bottom-container-icons {
  display: flex;
  justify-content: center;
}

.linkedin {
  margin: 0 2% 0 2%;
}

.spotify {
  margin: 0 2% 0 2%;
}

.github {
  margin: 0 2% 0 2%;
}

.mail {
  margin: 0 2% 0 2%;
}
.linkedin-button {
  color: black;
}

.linkedin-button:hover {
  color: #6e90e8;
  border-color: #6e90e8;
}

.spotify-button {
  color: black;
}

.spotify-button:hover {
  color: #6e90e8;
}

instagram-button {
  color: black;
}

instagram-button:hover {
  color: #6e90e8;
}

.github-button {
  color: black;
}

.github-button:hover {
  color: #6e90e8;
}

.mail-button {
  color: black;
}

.mail-button:hover {
  color: #6e90e8;
}

.bottom-container-cory {
  font-size: 18px;
  font-weight: 400;
  color: rgb(117, 117, 117);
  margin-top: 2.5%;
}